<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="C:\SplittLog\API\Internal\Internal.log">
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>
  <variable name="logfilePath" value="C:\SplittLog\API"/>

  <variable name="lastmsg"
  value="${replace:inner=${message}:searchFor=&#34;attachment&#34;[\\s]?(\:)[\\s]?&#34;([\\w-\\.+/*=]{1,\})&#34;:replaceWith=&#34;attachment&#34;\:&#34;***&#34;:regex=true}" />

  <variable name="lastmsg1"
	 value="${replace:inner=${message}:searchFor=(\\d{5\}):replaceWith=*****:regex=true}" />
  <targets>

    <target xsi:type="File" name="writeToLog1" encoding="utf-8" archiveAboveSize="500000" archiveNumbering="Sequence"
      keepFileOpen="true"
     fileName="${logfilePath}/${shortdate}/${aspnet-mvc-controller}.log"
layout="${longdate}|${machinename}|${level:uppercase=true}|
		   ${aspnet-traceidentifier}|${event-properties:CivilID}|
		${aspnet-request-url}|${aspnet-request-ip}|
          
           ${exception:tostring}|${message}"

              >




    </target>


    <target xsi:type="File" name="writeToLog2" encoding="utf-8" archiveAboveSize="500000" archiveNumbering="Sequence"
        keepFileOpen="true"
       fileName="${logfilePath}/${shortdate}/${aspnet-mvc-controller}.log"   layout="${longdate}|${machinename}|${level:uppercase=true}|
		   ${aspnet-traceidentifier}|${event-properties:CivilID}|
		${aspnet-request-url}|${aspnet-request-ip}|
          
           ${exception:tostring}|${message}"
 >



    </target>

  </targets>
  <rules>
    <logger name="System.Net.Http.*"  final="true" />
    <!--Output hosting lifetime messages to console target for faster startup detection -->
    <logger name="Microsoft.Hosting.Lifetime" minlevel="Info" writeTo="writeToLog1" final="true" />
    <!--Skip non-critical Microsoft logs and so log only own logs (BlackHole) -->
    <logger name="Microsoft.*"  final="true" />
    <logger name="*"  writeTo="writeToLog1" />
    <logger name="*" minlevel="Error"  writeTo="writeToLog2" />
  </rules>
</nlog>