<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info" throwConfigExceptions="true"
      internalLogFile="C:\SmartEVLogs\CustomerAppLogs\Internal\Internal.log">
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>
  <variable name="lastmsg"
value="${replace:inner=${message}:searchFor=&#34;attachment&#34;[\\s]?(\:)[\\s]?&#34;([\\w-\\.+/*=]{1,\})&#34;:replaceWith=&#34;attachment&#34;\:&#34;***&#34;:regex=true}" />

  <variable name="lastmsg1"
   value="${replace:inner=${message}:searchFor=(\\d{5\}):replaceWith=*****:regex=true}" />
  <targets>
    <target name="databaseLog"
            xsi:type="Database"
            connectionString="${configsetting:name=Logger.DbConnectionStringLogger}"
            dbProvider="Microsoft.Data.SqlClient.SqlConnection, Microsoft.Data.SqlClient"
            commandType="StoredProcedure"
            commandText="${configsetting:name=Logger.StoredProcedureName}">
      <parameter name="@refId"    layout="${aspnet-request-headers:HeaderNames=refId}" />
      <parameter name="@module"    layout="${aspnet-mvc-controller}" />
      <parameter name="@method"    layout="${aspnet-mvc-action}" />
      <parameter name="@methodType"    layout="${aspnet-request-method}" />
      <parameter name="@logType"         layout="${event-properties:logType}" />

      <parameter name="@responseTime"    layout="${event-properties:responseTime}" />
      <parameter name="@traceIdentifier"    layout="${aspnet-traceidentifier}" />
      <parameter name="@statusCode"    layout="${aspnet-response-statuscode}" />

      <parameter name="@postedBody"      layout="${aspnet-request-posted-body}" />
      <parameter name="@queryParam"      layout="${aspnet-request-querystring}" />

      <parameter name="@message"          layout="${var:lastmsg}" />
      <parameter name="@exception"        layout="${exception:format=ToString,StackTrace:maxInnerExceptionLevel=2}" />
      <parameter name="@stacktrace"        layout="${exception:format=stacktrace}" />


      <parameter name="@logLevel"       layout="${level:upperCase=true}" />
      <parameter name="@serverName"      layout="${machinename}" />
      <parameter name="@ipAddress"      layout="${aspnet-request-ip}" />
      <parameter name="@userAgent"      layout="${aspnet-request-useragent}" />
      <parameter name="@refURL"         layout="${aspnet-request-url}" />
      <parameter name="@CreatedOn"      layout="${date}" />
    </target>
  </targets>
  <rules>
    <!--Skip non-critical Microsoft logs and so log only own logs-->
    <logger name="Microsoft.*" maxlevel="Info" final="true" />
    <!-- BlackHole without writeTo -->
    <logger name="*" minlevel="Trace" writeTo="databaseLog1" />
    <logger name="*" minlevel="Trace" writeTo="databaseLog2" />
  </rules>
</nlog>