<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>
    <httpRuntime enableVersionHeader="false" />
  </system.web>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <rewrite>
        <outboundRules rewriteBeforeCache="true">
          <rule name="Remove Server header">
            <match serverVariable="RESPONSE_Server" pattern=".+" />
            <action type="Rewrite" value="" />
          </rule>
        </outboundRules>
      </rewrite>
      <security>
        <requestFiltering removeServerHeader="true" />
      </security>
      <httpProtocol>
        <customHeaders>
          <remove name="X-Powered-By" />
          <add name="X-Frame-Options" value="DENY" />
          <add name="Strict-Transport-Security" value="max-age=3153600;includeSubDomains; preload" />
          <add name="X-Xss-Protection" value="1; mode=block" />
          <add name="Referrer-Policy" value="no-referrer" />
          <add name="Expect-CT" value="enforce; max-age-43200" />

          <add name="Content-Security-Policy" value="default-src 'self'; frame-src 'self'; style-src 'self' 'unsafe-inline'; script-src 'self' ; script-src-elem 'self' 'unsafe-inline' 'unsafe-eval' ;" />

          <add name="X-Content-Type-Options" value="nosniff" />
          <add name="Set-Cookie" value="SameSite=Strict; Secure" />
        </customHeaders>
      </httpProtocol>
    </system.webServer>
  </location>
</configuration>